.dashboard-container {
    padding: 2rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
}

.taskBox {
   
    padding: 1rem;
    border-radius: 5px;
    height: 50vh !important;
    overflow-y: scroll;
}
