.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-height: 500px;
}

.signup-text {
  margin-top: 15px;
  color: #cccccc;
  margin: 3px;
}